* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
}

body {
    background-color: #090E21;
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 15px;
    color: #7e8faf;
}


a {
    color: #fff;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    cursor: default;
}

textarea {
    min-height: 120px;
    padding: 7px 15px;
    border-radius: 4px;
    background: rgba(0,0,0,.4);
    color: #999;
    border: 1px solid #4f5665;
    outline: none;
    transition: all .3s;
    font-size: 14px;
    height: 38px;
}

#navBar {
    color: white;
    height: 5rem;
}

#navbar_container {
    background-color:#121832;
}

#main_container {
    max-width: 1150px;
    width: 100%;
    margin-top: 200px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.movie-info {
    display: flex;
    margin-bottom: 20px;
}

.movie-info_left {
    width: 150px;
    margin-right: 20px;
}

.poster {
    width: 150px;
    position: relative;
    height: auto;
}

.poster img {
    width: 100%;
    height: 100%;
    position: relative;
}

.poster-premiere {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 24px;
    font-size: 10px;
    text-transform: uppercase;
    background: #208a20;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #177317;
    z-index: 1;
}

.movie-info .info-half {
    width: 49%;
    display: inline-block;
}

.movie-info_right .content-type {
    color: #fff;
    font-size: 16px;
}

.movie-info_right p {
    margin-bottom: 10px;
    display: flex;
}

.movie-info_right a {
    color: #53a5ee !important;
}

.movie-info_title {
    display: flex;
}

.movie-info h1 {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 23px;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-inline-end: 0.67em;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
}

.overview-overflow {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
}

.overview-overflow .sinopsis {
    display: flex;
}

.player_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.player_container>strong {
    font-size: 17px;
    height: 30px;
    color: #fff;
}

.player_screen_view {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.player_screen_view ul {
    list-style-type: disc;
    margin-block-start: 1em;
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

.player_screen_view li {
    font-size: 17px;
    padding: 0 30px;
    height: 46px;
    display: 46px;
    display: flex;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
    list-style: none;
}

.nav {
    display: flex;
}

.nav .nav-item {
    background: rgba(0,0,0,.1);
}

.nav .nav-item:hover {
    color: #fff;
}

.flags {
    width: 16px;
    height: 12px;
    margin-right: 7px;
    outline: none;
}

.inner_player_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #121832;
}

.player_content {
    display: flex;
    position: relative;
    top: -2px;
}

.player_info {
    margin: 5px 0 10px;
    /* display: flex; */
    align-items: center;
    padding: 0 2px;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

#info_btn_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

/*
.player_info div {
    display: flex;
    align-items: center;
} */

.dropdown {
    position: relative;
}

.dropdown button {
    display: block;
    padding: 8px 18px;
    border-radius: 4px;
    background: #025eda;
    color: #cbdefb;
    display: flex;
    align-items: center;
    line-height: 0;
    margin-right: 5px;
    transition: all .3s;
    height: 38px;
}

.btn strong {
    margin: 0 0 0 2px;
    padding-right: 8px;
    font-weight: 600;
    width: 140px;
    height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 15px;
}

.quality_selected {
    width: 18px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    letter-spacing: .1px;
    background: #fff;
    color: #000;
    border-radius: 2px;
    font-weight: 600;
}

.quality {
    width: 100%;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    letter-spacing: .1px;
    background: #025eda;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.quality:hover {
    background: #02316f;
    transition-duration: 0.5s;
}

.info_btn {
    padding: 8px 18px;
    border: 1px solid #636b72;
    border-radius: 4px;
    color: hsla(0,0%,100%,.6);
    background: 0 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    outline: none;
    transition: all .3s;
    cursor: pointer;
    margin: 0 5px;
    height: 38px;
}

.info_btn:hover {
    border-color: #fff;
    color: #fff;
}

.player_info_right {
    display: flex;
    align-items: center;
    width: 100%;
}

.player_info_right small {
    font-size: 14px;
    line-height: 12px;
    margin-left: 3px;
    position: relative;
    bottom: -1px;
    right: 0;
}

.player_content_video {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    display: block;
}

#player {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

.comment_container {
    display: flex;
    justify-content: space-between;
}

.detail-comment {
    width: 80%;
}

.comment_container_inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.comment_container_inner strong {
    font-size: 17px;
    height: 30px;
    color: #fff;
}

.comment_create {
    width: 100%;
    display: flex;
    margin: 5px 0 20px;
    /* justify-content: space-between; */
}

.comment_user {
    margin-top: 20px;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.profile_photo {
    max-width: 140px;
    max-height: 140px;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.photo_default {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgba(205,225,230,.22745098039215686);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all .3s;
}

.module_comments form {
    width: 80%;
}

.module_comments form>div {
    margin-top: 0;
}

.module_comments form>div>div {
    margin-top: 0;
}

.field {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
}

.field input,
.field textarea {
    width: 100%;
}

.field label {
    font-size: 12px;
    margin: 2px;
}

.field textarea {
    width: 100%;
}

.module_comments textarea {
    min-height: 60px;
}

.fields {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fields--3
.field {
    width: 32%;
}

.index-module_btn {
    width: 150px;
    padding: 10px;
}

.comment_btn {
    color: #fff;
}

.comment_btn:hover {
    background: #CB1048;
    transition: all .3s;
}

.comment_btn {
    padding: 12px 15px;
    border: 0;
    border-radius: 4px;
    background: #ed215e;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs_tab {
    display: flex;
    margin: 0 0 20px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.tabs_tab>a.active:before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #2684ff;
}

.tabs_tab>a.active {
    color: #fff;
    font-weight: bolder;
}

.tabs_tab>a {
    padding: 0 30px;
    height: 24px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.comment {
    display: flex;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    justify-content: space-between;
    transition: all .3s;
}

.comment_User {
    margin-top: 3px;
    width: 36px;
    height: 36px;
}
.comment_User>div {
    width: 36px;
}

#details_footer {
    background-color: #121832;
    color: white;
    margin-top: auto;
}

#footer-logo img {
    width: 30px;
}

.nav-link img {
    width: 50px;
}

@media (max-width: 1024px) {
    #main_container {
        padding: 10px;
    }
}

@media (max-width: 900px) {
    .detail-comment {
        width: 100%;
    }
    .module_comments form {
        width: 100%;
    }
    .tabs_tab>a {
        padding: 0 25px;
    }
}